
@{
    ViewBag.Title = "List";
}

<h2>Courses</h2>
<p>This is the list of all courses in the program</p>

<div id="containerlist">
    <h2>List of Courses</h2>
    @foreach (var Class in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/class/Show/@Class.ClassId">@Class.Classname</a></div>
        </div>
    }
</div>