@model IEnumerable<Assignment3_n01455211.Models.Class>
@{
    ViewBag.Title = "Course List";
}



<div id="containerlist">
    <nav>
        <a class="addnew" href="/Class/New">Add New Course</a>
    </nav>
    <h2>Courses List</h2>
    <p>Following courses are included in the Web Development Program </p>
    <div class="search">
        <form action="/Class/List" method="GET">
            <input type="text" name="SearchKey" autocomplete="off" />
            <input type="submit" value="Search" />
        </form>
    </div>
        @foreach (var Class in Model)
        {
            <div class="listitem row">
                <div class="col-md-12"><a href="/Class/Show/@Class.ClassId">@Class.Classcode - @Class.Classname</a></div>
            </div>
        }
    </div>
