body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Customized Footer */
.footer {
    background-color: darkgreen;
    padding-top: 10px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* profile parameters */
.title {
    
    font-weight: bold;
    color: darkslategrey;
}

/* Customized navbar */
.navbar-fixed-top {
    background-color: darkgreen;
    left: 0;
}

.container {
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#containerlist {
    margin-left: 20px;
    margin-top: 40px;
}

#containershow {
    margin-left: 20px;
    margin-top: 40px;
}

.container {
    margin-left: 10px;
}

/* Back Button */
.back {
    padding: 7px;
    background-color: black;
    color: white; 
}
.back:hover {
        text-decoration: none;
        color: white;
}

#backbutton {
    margin-top: 50px;
    margin-left: 20px;
}


/* Delete Button */
.delete {
    padding: 7px;
    background-color: red;
    color: black;
    margin-left: 10px;
}

.delete:hover {
        text-decoration: none;
        color: black;
}

.confirmdelete {
    padding: 7px;
    background-color: red;
    color: black;
}

.addnew {
    padding: 7px;
    background-color: green;
    color: white;
    margin-top: 10px;
}

.addnew:hover {
        text-decoration: none;
        color: white;
}

.search {
    margin-bottom: 10px;
}

.cancel {
    padding: 7px;
    background-color: black;
    color: white;
    
}

.cancel:hover {
        text-decoration: none;
        color: white;
}

.cancelbutton {
    margin-top: 15px;
}

.inputrow {
    margin-bottom: 15px;
    width: 40%;
    overflow: hidden;    
}

    .inputrow input {
        float: none;
        display: inline;
    }

    .inputrow textarea {
        width: 100%;
        max-width: none;
        float: none;
    }

    .inputrow input[type="submit"] {
        float: none;
        margin-top: 30px;
    }