@model IEnumerable<Assignment3_n01455211.Models.Teacher>
@{
    ViewBag.Title = "Teacher List";
}



<div id="containerlist">
    <h2>List of Teachers</h2>
    <p>Following instructors are currently teaching the Web Development Program Courses</p>
    @foreach (var Teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a></div>
        </div>
    }
</div>